Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "src", "tests"]
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "src", "tests"]
        language: system
        types: [python]

Update resources/pypsa_models/pypsa_models.yml
  resources/pypsa_models/pypsa_models.yml
Due: none

fix(tiny bug): fix tiny bug and resize test case to figure out what is happening
  src/pypsa_preprocessor.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: mypy, ruff-format, ruff-check

fix(ruff): fix ruff errors
  src/pypsa_preprocessor.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: mypy, ruff-format, ruff-check

Documentation (#41)
  README.md
Due: none

feat(same data acess): fist stage of refactoring
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/utils.py
  tests/e2e/conftest.py
  tests/e2e/end_2_end_tests.py
Due: mypy, ruff-format, ruff-check

refactor(cleanup): code cleanup - remove deterministic study type handling
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_preprocessor.py
  src/utils.py
Due: mypy, ruff-format, ruff-check

refactor(cleanup): code cleanup second stage
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

feat(CI/CD): add new workflow file for unit tests - remove deterministic study tests
  .github/workflows/unit-tests.yml
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: ruff-format, ruff-check

fix(tests): remove last one deterministic test
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: ruff-format, ruff-check

feat(optim config): add optim config generation - add tests to ensure optim config is generated - remove study type enum from code
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  src/utils.py
  tests/e2e/conftest.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/unit_tests/tests_converter.py
  tmp/test_converter_deterministic_study_one/systems/input/data-series/Simple_Network_generator_gen1_p_max_pu.csv
  tmp/test_converter_deterministic_study_one/systems/input/data-series/Simple_Network_generator_gen2_p_max_pu.csv
  tmp/test_converter_deterministic_study_one/systems/input/data-series/Simple_Network_load_timeseries_load_p_set.csv
  tmp/test_converter_deterministic_study_one/systems/input/data-series/Simple_Network_load_timeseries_load_q_set.csv
  tmp/test_converter_deterministic_study_one/systems/input/model-libraries/pypsa_models.yml
  tmp/test_converter_deterministic_study_one/systems/input/system.yml
  tmp/test_converter_deterministic_study_one/systems/parameters.yml
  tmp/test_converter_deterministic_study_two/systems/input/data-series/Simple_Network_generator_gen1_p_max_pu.csv
  tmp/test_converter_deterministic_study_two/systems/input/data-series/Simple_Network_generator_gen2_p_max_pu.csv
  tmp/test_converter_deterministic_study_two/systems/input/data-series/Simple_Network_load_timeseries_load_p_set.csv
  tmp/test_converter_deterministic_study_two/systems/input/data-series/Simple_Network_load_timeseries_load_q_set.csv
  tmp/test_converter_deterministic_study_two/systems/input/model-libraries/pypsa_models.yml
  tmp/test_converter_deterministic_study_two/systems/input/optim-config.yml
  tmp/test_converter_deterministic_study_two/systems/input/system.yml
  tmp/test_converter_deterministic_study_two/systems/parameters.yml
Due: mypy, ruff-format, ruff-check

feat(update): add converter test to ci/cd
  .github/workflows/unit-tests.yml
Due: none

fix(tmp): remove tmp folder from git
  tmp/test_converter_deterministic_study_one/systems/input/data-series/Simple_Network_generator_gen1_p_max_pu.csv
  tmp/test_converter_deterministic_study_one/systems/input/data-series/Simple_Network_generator_gen2_p_max_pu.csv
  tmp/test_converter_deterministic_study_one/systems/input/data-series/Simple_Network_load_timeseries_load_p_set.csv
  tmp/test_converter_deterministic_study_one/systems/input/data-series/Simple_Network_load_timeseries_load_q_set.csv
  tmp/test_converter_deterministic_study_one/systems/input/model-libraries/pypsa_models.yml
  tmp/test_converter_deterministic_study_one/systems/input/system.yml
  tmp/test_converter_deterministic_study_one/systems/parameters.yml
  tmp/test_converter_deterministic_study_two/systems/input/data-series/Simple_Network_generator_gen1_p_max_pu.csv
  tmp/test_converter_deterministic_study_two/systems/input/data-series/Simple_Network_generator_gen2_p_max_pu.csv
  tmp/test_converter_deterministic_study_two/systems/input/data-series/Simple_Network_load_timeseries_load_p_set.csv
  tmp/test_converter_deterministic_study_two/systems/input/data-series/Simple_Network_load_timeseries_load_q_set.csv
  tmp/test_converter_deterministic_study_two/systems/input/model-libraries/pypsa_models.yml
  tmp/test_converter_deterministic_study_two/systems/input/optim-config.yml
  tmp/test_converter_deterministic_study_two/systems/input/system.yml
  tmp/test_converter_deterministic_study_two/systems/parameters.yml
Due: none

fix(conversion issue): fix conversion issue
  src/gems_study_writer.py
Due: mypy, ruff-format, ruff-check

fix(ruff,mypy,lint): apply ruff,mypy and lint to refactored code
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  src/utils.py
  tests/e2e/conftest.py
  tests/e2e/end_2_end_tests.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/unit_tests/tests_converter.py
Due: mypy, ruff-format, ruff-check

refactor(gems model builder): remove unnecessary function
  src/gems_model_builder.py
Due: mypy, ruff-format, ruff-check

feat(polars): adapt converter to use polars
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/models/pypsa_model_schema/pypsa_component_data.py
  src/pypsa_register.py
  src/utils.py
Due: mypy, ruff-format, ruff-check

fix(pypsa_models.yml): change scenario-depentend for capital cost true->false
  resources/pypsa_models/pypsa_models.yml
Due: none

fix(pypsa_converter): remove legacy function call for convert_pypsa_components_of_given_model function
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

refactor(write time series): decompose function for writing timeseries
  src/gems_study_writer.py
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

refactor(function calls): remove unused parameters
  src/gems_study_writer.py
Due: mypy, ruff-format, ruff-check

fix(function parameters): remove unused parameters
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

style(ruff): apply ruff
  src/gems_study_writer.py
Due: mypy, ruff-format, ruff-check

feat(2 stage stochastic optimization): converter adaptation (#43)
  .github/workflows/e2e-tests.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  resources/optim-config.yml
  resources/pypsa_models/pypsa_models.yml
  src/__init__.py
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/models/__init__.py
  src/models/gems_system_yml_schema/__init__.py
  src/models/gems_system_yml_schema/gems_area_connection.py
  src/models/gems_system_yml_schema/gems_component.py
  src/models/gems_system_yml_schema/gems_component_parameter.py
  src/models/gems_system_yml_schema/gems_port_connection.py
  src/models/gems_system_yml_schema/gems_system.py
  src/models/modeler_parameter_yml_schema/__init__.py
  src/models/modeler_parameter_yml_schema/modeler_parameters.py
  src/models/modified_base_model.py
  src/models/pypsa_model_schema/pypsa_component_data.py
  src/models/pypsa_model_schema/pypsa_global_constraint_data.py
  src/parsing.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  src/utils.py
  tests/__init__.py
  tests/e2e/conftest.py
  tests/e2e/end_2_end_tests.py
  tests/e2e_2_stage_stochastic/__init__.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/__init__.py
  tests/local_benchmark/benchmark.py
  tests/unit_tests/__init__.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/unit_tests/test_write_and_register_time_series.py
  tests/unit_tests/tests_converter.py
  tests/utils.py
Due: mypy, ruff-format, ruff-check

feat(dependencies.json): introduce dependencies.json file
  .github/workflows/tests.yml
  dependencies.json
  src/dependencies.py
  tests/e2e/end_2_end_tests.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/benchmark.py
Due: mypy, ruff-format, ruff-check

fix(typoo): fix typo xpanssion -> xpansion
  convert_base_s_50_elec.py
  src/dependencies.py
Due: mypy, ruff-format, ruff-check

Delete convert_base_s_50_elec.py
  convert_base_s_50_elec.py
Due: ruff-format, ruff-check

feat(benchmark): generate benchmark for france only study - add france_only.nc - add config.regional.yaml for preview
  resources/test_files/france_only.nc
  src/utils.py
  tests/local_benchmark/benchmark_analysis_france.ipynb
  tests/local_benchmark/config.regional.yaml
  tests/local_benchmark/run_france_benchmark.py
Due: mypy, ruff-format, ruff-check

feat(benchamrk): add benchamark notebook
  tests/local_benchmark/benchmark_analysis_france.ipynb
Due: none

feat(dependencies.json): introduce dependencies.json file (#46)
  .github/workflows/tests.yml
  dependencies.json
  src/dependencies.py
  tests/e2e/end_2_end_tests.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/benchmark.py
Due: mypy, ruff-format, ruff-check

feat(antares): update converter to use antares 9.3.6
  dependencies.json
Due: none

feat(antares): update converter to use antares 9.3.6 (#49)
  dependencies.json
Due: none

Update dependencies.json
  dependencies.json
Due: none
