Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "src", "tests"]
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "src", "tests"]
        language: system
        types: [python]

exclude unncessary guards
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

add tests
  resources/test_files/scigrid-de.nc
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  tests/e2e/end_2_end_tests.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

fix slack bus
  src/pypsa_preprocessor.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

fix tests
  src/pypsa_preprocessor.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

fix preprocess
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

weekly schedule workflow
  .github/workflows/check-antares-update.yml
Due: none

fix tests
  resources/pypsa_models/pypsa_models.yml
  tests/e2e/end_2_end_tests.py
Due: ruff-format, ruff-check

update compatibility file
  COMPATIBILITY.md
Due: none

update library version
  resources/pypsa_models/pypsa_models.yml
Due: none

Support PyPSA 1.2.0 in converter and E2E tests
  .github/workflows/run-e2e-tests.yml
  pyproject.toml
  requirements.txt
  src/pypsa_preprocessor.py
  tests/e2e/end_2_end_tests.py
Due: mypy, ruff-format, ruff-check

update README
  README.md
Due: none

small fix
  COMPATIBILITY.md
Due: none

Line and Transformer Model (#66)
  COMPATIBILITY.md
  README.md
  resources/pypsa_models/pypsa_models.yml
  resources/test_files/scigrid-de.nc
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  tests/e2e/end_2_end_tests.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

fix(test_cli): update export_to_netcdf call to use string path
  tests/unit_tests/test_cli.py
Due: ruff-format, ruff-check

refactor(dependencies): consolidate dev dependencies into pyproject.toml and remove requirements files, update GitHub workflows to use 'uv' for dependency management and testing
  .github/workflows/code-quality.yml
  .github/workflows/publish.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/tests.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  uv.lock
Due: none

Initial commit
  requirements.txt
Due: none

fix preprocessor
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

refactor
  resources/pypsa_models/pypsa_models.yml
  src/pypsa_preprocessor.py
  src/utils.py
Due: mypy, ruff-format, ruff-check

remove duplicate exclusion
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

exclude dead code
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

fix
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

add emmission factor component list
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

feat(first release): prepare package for first release (#81)
  .github/workflows/code-quality.yml
  .github/workflows/publish.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/tests.yml
  AUTHORS.txt
  README.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/cli.py
  src/parsing.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  tests/e2e/end_2_end_tests.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/benchmark.py
  tests/unit_tests/test_cli.py
  tests/unit_tests/test_write_and_register_time_series.py
  tests/unit_tests/tests_converter.py
  uv.lock
Due: mypy, ruff-format, ruff-check

add unit test
  tests/unit_tests/test_scenario_dependent_emission_factor.py
Due: ruff-format, ruff-check

update pypsa version
  pyproject.toml
Due: none

fix unit tests
  tests/unit_tests/test_scenario_dependent_emission_factor.py
Due: ruff-format, ruff-check

Apply suggestion from @dusanparipovic
  tests/unit_tests/test_scenario_dependent_emission_factor.py
Due: ruff-format, ruff-check

refactor(testscenario depentend emission factor): null_data initialization and update unit tests for scenario-dependent emission factors
  src/pypsa_preprocessor.py
  tests/unit_tests/test_scenario_dependent_emission_factor.py
Due: mypy, ruff-format, ruff-check

(PR1) Update PyPSA version to 1.2.0 P2G-03 (#83)
  pyproject.toml
  resources/pypsa_models/pypsa_models.yml
  src/pypsa_preprocessor.py
  src/utils.py
  tests/unit_tests/test_scenario_dependent_emission_factor.py
Due: mypy, ruff-format, ruff-check

refactor pypsa update workflow since pypsa version is not stored anymore in requirements.txt file
  .github/workflows/check-pypsa-update.yml
Due: none

enable checksum
  .github/workflows/update-library-checksums.yml
Due: none

update Compatibility file
  COMPATIBILITY.md
Due: none

update library changelog
  resources/pypsa_models/CHANGELOG-pypsa_models_library.md
Due: none

feat(release 0.0.1): pypsa to gems converter first release (#85)
  .github/workflows/check-pypsa-update.yml
  .github/workflows/update-library-checksums.yml
  COMPATIBILITY.md
  resources/pypsa_models/CHANGELOG-pypsa_models_library.md
  resources/pypsa_models/pypsa_models.yml.sha256
Due: none

chore: align dependency pinning policy across all repos
  COMPATIBILITY.md
  pyproject.toml
Due: none

chore: remove unused requirements files
  requirements-dev.txt
  requirements.txt
Due: none

chore: delete obsolete requirements files
  requirements-dev.txt
  requirements.txt
Due: none

chore: update pypsa version to 1.2.0 and add platformdirs dependency
  resources/test_files/france_clusters_50_snapshots_365_period_one_year_2_scenarios.nc
  resources/test_files/france_clusters_80_snapshots_168_period_one_week_2_scenarios.nc
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  uv.lock
Due: ruff-format, ruff-check
