Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - src
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - src
  - tests
  language: system

feat(tests): add parametrized test for hybrid study comparisons
  tests/e2e/test_hybrid_study_comparison.py
Due: ruff-format, ruff-check

docs(agents): update stale ModelerParameters references to AntaresModelerParameters
  AGENTS.md
Due: none

(PR3) Claude and Agent md files (#68)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  COMPATIBILITY.md
Due: none

feat(tests): add unit tests for PyPSA study converter
  tests/unit_tests/test_converter.py
Due: ruff-format, ruff-check

feat(dependencies, workflows): update Antares Xpansion version and enhance E2E test workflow
  .github/workflows/run-e2e-tests.yml
  .github/workflows/tests.yml
  dependencies.json
  resources/optim-config.yml
  src/antares_hybrid_writer.py
  src/dependencies.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/utils.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/unit_tests/test_converter.py
Due: mypy, ruff-format, ruff-check

feat(workflows): enhance E2E test workflow with new summary job and improved artifact handling
  .github/workflows/run-e2e-tests.yml
Due: none

feat(preprocessor): add method to identify buses with AC branches and refine theta bounds handling
  scripts/setup_cloud_xpansion_benchmark.sh
  src/pypsa_preprocessor.py
  tests/local_benchmark/xpansion_benchmark.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

feat(tests): add functions for Xpansion benchmark result analysis
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

feat(utils, tests): add MPS size reading functions and enhance benchmark analysis
  src/utils.py
  tests/local_benchmark/xpansion_benchmark.py
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
  tests/utils.py
Due: mypy, ruff-format, ruff-check

refactor(tests): clean up and enhance benchmark test readability
  tests/local_benchmark/xpansion_benchmark.py
  tests/utils.py
Due: ruff-format, ruff-check

feat(antares): update AntaresHybridStudyWriter to support new parameters and version
  src/antares_hybrid_writer.py
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

Apply suggestion from @tbittar
  src/antares_hybrid_writer.py
Due: mypy, ruff-format, ruff-check

Apply suggestion from @tbittar
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

refactor(antares): update AntaresHybridStudyWriter and PyPSAStudyConverter
  src/antares_hybrid_writer.py
  src/pypsa_converter.py
  tests/e2e/test_hybrid_study_comparison.py
Due: mypy, ruff-format, ruff-check

fix(optim config): add bendors by default
  resources/optim-config.yml
Due: none

refactor(antares): enhance hybrid study handling and output validation
  src/antares_hybrid_writer.py
  src/pypsa_converter.py
  tests/e2e/test_hybrid_study_comparison.py
Due: mypy, ruff-format, ruff-check

chore(dependencies): update PyPSA to version 1.3.0 and adjust Python version compatibility in uv.lock
  pyproject.toml
  tests/unit_tests/test_write_and_register_time_series.py
  tests/utils.py
  uv.lock
Due: ruff-format, ruff-check

refactor(test hybrid study): refactor operational studies test
  .gitignore
  tests/e2e/test_hybrid_study_comparison.py
Due: ruff-format, ruff-check

chore(dependencies): update Antares Xpansion version to 1.9.0 and enhance hybrid study handling
  dependencies.json
  pyproject.toml
  src/antares_hybrid_writer.py
  src/dependencies.py
  src/pypsa_converter.py
  tests/e2e/test_hybrid_study_comparison.py
  tests/unit_tests/test_write_and_register_time_series.py
Due: mypy, ruff-format, ruff-check

feat(e2e tests): add Antares Xpansion download and extraction steps
  .github/workflows/run-e2e-tests.yml
Due: none

chore(e2e tests): simplify E2E test job name
  .github/workflows/run-e2e-tests.yml
Due: none

chore(e2e tests): add Open MPI installation step to workflow
  .github/workflows/run-e2e-tests.yml
Due: none

feat(converter): support all PyPSA time granularities (#114)
  AGENTS.md
  COMPATIBILITY.md
  pyproject.toml
  resources/pypsa_models/CHANGELOG-pypsa_models_library.md
  resources/pypsa_models/pypsa_models.yml
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  tests/e2e/end_2_end_tests.py
  tests/local_benchmark/benchmark.py
  tests/unit_tests/test_snapshot_weightings.py
  uv.lock
Due: mypy, ruff-format, ruff-check

Clarify parser requirements in changelog
  resources/pypsa_models/CHANGELOG-pypsa_models_library.md
Due: none

chore(dependencies): add ipykernel and new packages to project
  pyproject.toml
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/utils.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/xpansion_benchmark.py
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
  tests/unit_tests/test_converter.py
  uv.lock
Due: mypy, ruff-format, ruff-check

chore: remove setup script for cloud Xpansion benchmark
  scripts/setup_cloud_xpansion_benchmark.sh
Due: none

chore(e2e tests): update job names and remove redundant steps
  .github/workflows/run-e2e-tests.yml
Due: none

fix(converter): validate only the snapshot weightings the network reads
  AGENTS.md
  COMPATIBILITY.md
  src/pypsa_preprocessor.py
  tests/unit_tests/test_snapshot_weightings.py
Due: mypy, ruff-format, ruff-check

chore(e2e tests): update workflow for Antares and Xpansion testing
  .github/workflows/run-e2e-tests.yml
Due: none

chore(e2e tests): simplify job name and adjust extraction step
  .github/workflows/run-e2e-tests.yml
Due: none

chore(e2e tests): streamline Antares Xpansion version retrieval
  .github/workflows/run-e2e-tests.yml
Due: none

refactor(converter): move time-granularity handling to its own module
  AGENTS.md
  src/pypsa_preprocessor.py
  src/time_granularity.py
  tests/unit_tests/test_time_granularity.py
Due: mypy, ruff-format, ruff-check

refactor(antares): clean up AntaresHybridStudyWriter and PyPSAStudyConverter
  src/antares_hybrid_writer.py
  src/dependencies.py
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

fix(pypsa_converter): correct comment formatting for clarity
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

fix(pypsa_converter): validate scenario weightings and clean up logging
  src/pypsa_converter.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: mypy, ruff-format, ruff-check

refactor: streamline investment study handling and improve documentation
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/utils.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/xpansion_benchmark.py
  tests/unit_tests/test_converter.py
  tests/utils.py
Due: mypy, ruff-format, ruff-check

fix: update execution counts and timing metrics in xpansion benchmark analysis notebook
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
Due: none

fix: reset execution counts and update timing metrics in xpansion benchmark analysis notebook
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
Due: none

fix: enhance solver information and update model size metrics in benchmark analysis
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^src/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
