Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - src
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - src
  - tests
  language: system

chore: update Antares versions and enhance study preparation
  .github/workflows/run-e2e-tests.yml
  .github/workflows/tests.yml
  dependencies.json
  resources/optim-config.yml
  src/dependencies.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/utils.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/unit_tests/tests_converter.py
Due: mypy, ruff-format, ruff-check

add installation section
  README.md
Due: none

add uv command
  README.md
Due: none

add dependencies section
  README.md
Due: none

link to antares simulator
  README.md
Due: none

OS independency
  README.md
Due: none

fix(unit tests): fix call of converter for 2 stage stochastic optimization study call
  tests/unit_tests/test_scenario_dependent_emission_factor.py
  tests/unit_tests/test_write_and_register_time_series.py
Due: ruff-format, ruff-check

add badges
  README.md
Due: none

refactor dependencies
  README.md
Due: none

bump modeler version inside step by step guide
  README.md
Due: none

chore: update Antares Xpansion version handling and add to .gitignore
  .github/workflows/run-e2e-tests.yml
  .gitignore
  dependencies.json
  src/dependencies.py
Due: mypy, ruff-format, ruff-check

Enhance GitHub workflow for end-to-end tests
  .github/workflows/run-e2e-tests.yml
Due: none

add CLI usage section
  README.md
Due: none

Enhance end-to-end test workflow and logging
  .github/workflows/run-e2e-tests.yml
  tests/e2e/end_2_end_tests.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: ruff-format, ruff-check

Add system dependencies installation step in e2e test workflow
  .github/workflows/run-e2e-tests.yml
Due: none

Update system dependencies in e2e test workflow
  .github/workflows/run-e2e-tests.yml
Due: none

Refactor end-to-end test workflow for improved clarity and efficiency
  .github/workflows/run-e2e-tests.yml
Due: none

Remove unnecessary ref specification in e2e test workflow checkout step
  .github/workflows/run-e2e-tests.yml
Due: none

Refactor optimization solver in e2e test and remove timelimit parameter
  src/gems_study_writer.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: mypy, ruff-format, ruff-check

Update e2e test workflow to install additional system dependencies
  .github/workflows/run-e2e-tests.yml
Due: none

quick fix for gems study folder path
  README.md
Due: none

Refactor e2e test workflow to simplify version handling and enhance logging
  .github/workflows/run-e2e-tests.yml
Due: none

Refactor e2e test workflow to streamline version handling
  .github/workflows/run-e2e-tests.yml
Due: none

Add GemsPy dependency and update benchmark analysis
  pyproject.toml
  resources/pypsa_models/pypsa_models.yml
  scripts/run_cloud_benchmark.sh
  tests/__init__.py
  tests/e2e/end_2_end_tests.py
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/local_benchmark/benchmark_xpansion.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/utils.py
  uv.lock
Due: ruff-format, ruff-check

Update cloud benchmark script for improved setup and logging
  scripts/run_cloud_benchmark.sh
Due: none

Update cloud benchmark script to enforce Python 3.11 and enhance dependency management
  scripts/run_cloud_benchmark.sh
Due: none

Refactor cloud benchmark script to adjust execution order and improve logging
  scripts/run_cloud_benchmark.sh
Due: none

Add logging utility functions to enhance subprocess execution in tests
  tests/local_benchmark/benchmark_xpansion.py
  tests/local_benchmark/conftest.py
  tests/utils.py
Due: ruff-format, ruff-check

Enhance GemsStudyWriter and utils for scenario weight management
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/utils.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/benchmark_xpansion.py
  tests/unit_tests/test_scenario_weights.py
  tests/utils.py
Due: mypy, ruff-format, ruff-check

Update README.md
  README.md
Due: none

mention csv and tsv
  README.md
Due: none

update format accepted with and with .
  README.md
Due: none

update frame
  README.md
Due: none

(PR2) chore: align dependency pinning policy across all repos (#87)
  COMPATIBILITY.md
  pyproject.toml
Due: none

bump to v10.0.1 antares version
  dependencies.json
Due: none

update GEMS references links
  README.md
Due: none

delete all mentions to antares version
  README.md
Due: none

Refactor Antares Xpansion integration and streamline launcher execution
  src/dependencies.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/utils.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/local_benchmark/benchmark_xpansion.py
  tests/unit_tests/test_scenario_weights.py
  tests/unit_tests/tests_converter.py
  tests/utils.py
Due: mypy, ruff-format, ruff-check

fix(cloud script): remove cloud run script
  scripts/run_cloud_benchmark.sh
Due: none

Path conditions:
  mypy: any of: ^src/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
