Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - src
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - src
  - tests
  language: system

LP and MILP models
  resources/pypsa_models/pypsa_models.yml
Due: none

refactor
  resources/pypsa_models/pypsa_models.yml
Due: none

fix variable name
  resources/pypsa_models/pypsa_models.yml
Due: none

exclude extra output
  resources/pypsa_models/pypsa_models.yml
Due: none

fix fom cost
  resources/pypsa_models/pypsa_models.yml
Due: none

update templates
  .github/ISSUE_TEMPLATE/p2g-01.yml
  .github/ISSUE_TEMPLATE/p2g-02.yml
  .github/ISSUE_TEMPLATE/p2g-03.yml
Due: none

change port field from theta to angle
  resources/pypsa_models/pypsa_models.yml
Due: none

change field name from flow to power
  resources/pypsa_models/pypsa_models.yml
Due: none

Limitations and new versioning process
  .github/ISSUE_TEMPLATE/p2g-01.yml
  .github/ISSUE_TEMPLATE/p2g-02.yml
  .github/ISSUE_TEMPLATE/p2g-03.yml
  .github/workflows/notify-gems-pypsa-models-update.yml
  COMPATIBILITY.md
  dependencies.json
  resources/pypsa_models/pypsa_models.yml
Due: none

exclude git tag for library
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/notify-gems-pypsa-models-update.yml
Due: none

fix comment
  .github/workflows/notify-gems-pypsa-models-update.yml
Due: none

fix actions and compatibility file
  .github/workflows/check-antares-update.yml
  .github/workflows/check-pypsa-update.yml
  .github/workflows/code-quality.yml
  .github/workflows/notify-gems-pypsa-models-update.yml
  .github/workflows/tests.yml
  COMPATIBILITY.md
Due: none

add checksum workflow
  .github/workflows/update-library-checksums.yml
Due: none

exclude line_lp, line_milp, transformer_lp and transformer_milp models
  resources/pypsa_models/pypsa_models.yml
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

exclude unnecessary part in Claude file
  CLAUDE.md
Due: none

feat(benchmark): enhance benchmark tests with GemsPy integration
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

refactor(gems_system): remove nodes attribute from GemsSystem model
  src/gems_study_writer.py
  src/models/gems_system_yml_schema/gems_system.py
  tests/local_benchmark/benchmark.py
  tests/utils.py
Due: mypy, ruff-format, ruff-check

chore(requirements): add gemspy dependency and clean up benchmark tests
  requirements.txt
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

feat(benchmark): enhance benchmark tests with detailed PyPSA and GemsPy integration
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

fix(benchmark): handle GemsPy import errors gracefully in benchmark tests
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

refactor(benchmark): streamline GemsPy imports in benchmark tests
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

chore(mypy): update mypy configuration to include GemsPy module
  pyproject.toml
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

feat(benchmark): add benchmark for gemspy
  tests/local_benchmark/benchmark_analysis.ipynb
Due: none

refactor(benchmark): update references to Antares Modeler in benchmark analysis
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

fix workflows
  .github/workflows/check-antares-update.yml
  .github/workflows/check-pypsa-update.yml
  .github/workflows/update-library-checksums.yml
Due: none

fix step 9 in issue templates
  .github/ISSUE_TEMPLATE/p2g-01.yml
  .github/ISSUE_TEMPLATE/p2g-02.yml
  .github/ISSUE_TEMPLATE/p2g-03.yml
Due: none

add line and transformer in converter source code
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  tests/e2e/end_2_end_tests.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^src/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
