Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "src", "tests"]
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "src", "tests"]
        language: system
        types: [python]

Update GemsPy dependency to version 0.1.2 and adjust related configurations
  pyproject.toml
  resources/pypsa_models/pypsa_models.yml
  uv.lock
Due: none

Remove set_pypsa_scenario_weights function and update related tests
  src/utils.py
  tests/local_benchmark/benchmark_xpansion.py
  tests/unit_tests/test_scenario_weights.py
Due: mypy, ruff-format, ruff-check

Update dependency specifications in `uv.lock` for improved compatibility
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  uv.lock
Due: ruff-format, ruff-check

Refactor run_xpansion_launcher and read_xpansion_out_json functions for clarity
  src/utils.py
Due: mypy, ruff-format, ruff-check

ci: clarify GEMS library sync is a three-file copy in notify issue body
  .github/workflows/notify-gems-pypsa-models-update.yml
Due: none

docs(agents): correct stale PyPSA converter AGENTS.md against code
  AGENTS.md
Due: none

docs(agents): clarify rule 4 limitation-check semantics
  AGENTS.md
Due: none

docs: correct active-flag handling in COMPATIBILITY.md and AGENTS.md
  AGENTS.md
  COMPATIBILITY.md
Due: none

Update test_2_stage_stochastic_study.py to handle Antares Xpansion version compatibility
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: ruff-format, ruff-check

feat(antares): bump antares_version to 10.1.1
  dependencies.json
Due: none

chore: update compatibility and dependencies for Antares 10.1.1 and PyPSA 1.2.0
  COMPATIBILITY.md
  pyproject.toml
  tests/e2e/end_2_end_tests.py
  tests/local_benchmark/benchmark.py
  uv.lock
Due: ruff-format, ruff-check

chore: bump version to 0.0.2 in pyproject.toml
  pyproject.toml
Due: none

chore(version update): update PyPSA and Antares version (#97)
  COMPATIBILITY.md
  dependencies.json
  pyproject.toml
  tests/e2e/end_2_end_tests.py
  tests/local_benchmark/benchmark.py
  uv.lock
Due: ruff-format, ruff-check

(PR5) Clarify GEMS library sync is a three-file copy in notify issue body (#96)
  .github/workflows/notify-gems-pypsa-models-update.yml
Due: none

chore: add gemspy dependency and integrate GemsPy interpreter in benchmarking
  pyproject.toml
  src/gems_study_writer.py
  src/models/gems_system_yml_schema/gems_system.py
  tests/local_benchmark/benchmark.py
  uv.lock
Due: mypy, ruff-format, ruff-check

chore(version update): bump PyPSA to 1.2.4 and update related dependencies in pyproject.toml and uv.lock
  COMPATIBILITY.md
  README.md
  pyproject.toml
  uv.lock
Due: none

chore(version update): bump PyPSA to 1.2.4 and update related dependencies in pyproject.toml and uv.lock (#99)
  COMPATIBILITY.md
  README.md
  pyproject.toml
  uv.lock
Due: none

fix(dependencies): pin gemspy version to 0.1.2 and update GemsPy integration in benchmarking tests
  .gitignore
  pyproject.toml
  resources/pypsa_models/pypsa_models.yml
  tests/__init__.py
  tests/local_benchmark/benchmark.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/utils.py
  uv.lock
Due: ruff-format, ruff-check

refactor(tests): improve code readability by formatting print statements and removing unused parameters in end-to-end tests
  tests/e2e/end_2_end_tests.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/utils.py
Due: ruff-format, ruff-check

fix(tests): scale benchmark parameters to 40% for feasibility in test cases
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

fix(tests): restore benchmark parameters for France clusters in test cases
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

fix(tests): update benchmark analysis notebook with execution count adjustments and warning messages
  tests/local_benchmark/benchmark_analysis.ipynb
Due: none

fix(tests): update benchmark analysis notebook and restore France cluster parameters in test cases
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
Due: ruff-format, ruff-check

chore(dependencies): update Antares Xpansion version to 1.9.0 and enhance E2E test workflow with new installation and extraction steps
  .github/workflows/run-e2e-tests.yml
  .github/workflows/tests.yml
  dependencies.json
  resources/optim-config.yml
  src/dependencies.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/utils.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/unit_tests/test_scenario_dependent_emission_factor.py
  tests/unit_tests/test_write_and_register_time_series.py
  tests/unit_tests/tests_converter.py
Due: mypy, ruff-format, ruff-check

Update src/gems_study_writer.py
  src/gems_study_writer.py
Due: mypy, ruff-format, ruff-check

fix(tests): update GemsPy version handling and enhance benchmark analysis output
  resources/pypsa_models/pypsa_models.yml
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

refactor(tests): streamline print statements in benchmark analysis for improved readability
  tests/local_benchmark/benchmark.py
  tests/utils.py
Due: ruff-format, ruff-check

refactor(tests): enhance benchmark analysis output formatting for clarity and consistency
  src/cli.py
  src/gems_study_writer.py
  src/models/__init__.py
  src/models/modeler_parameter_yml_schema/__init__.py
  src/models/modeler_parameter_yml_schema/modeler_parameters.py
  src/pypsa_converter.py
  tests/e2e/end_2_end_tests.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/utils.py
Due: mypy, ruff-format, ruff-check

refactor(gems_study_writer): remove redundant comment from prepare_xpansion_runnable_study method documentation
  src/gems_study_writer.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: mypy, ruff-format, ruff-check

Update AGENTS.md
  AGENTS.md
Due: none

feat(benchmark): pypsa vs gemspy vs antares modeler (#100)
  .gitignore
  pyproject.toml
  src/cli.py
  src/gems_study_writer.py
  src/models/__init__.py
  src/models/gems_system_yml_schema/gems_system.py
  src/models/modeler_parameter_yml_schema/__init__.py
  src/models/modeler_parameter_yml_schema/modeler_parameters.py
  src/pypsa_converter.py
  tests/__init__.py
  tests/e2e/end_2_end_tests.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/utils.py
  uv.lock
Due: mypy, ruff-format, ruff-check

docs(agents): fix stochastic-test, CO2, and float-clamp descriptions
  AGENTS.md
Due: none

feat(antares): add hybrid study writer and update dependencies
  pyproject.toml
  src/antares_hybrid_writer.py
  src/dependencies.py
  src/models/gems_system_yml_schema/gems_system.py
  src/pypsa_converter.py
  tests/e2e/test_hybrid_study_comparison.py
  tests/local_benchmark/benchmark.py
  tests/unit_tests/test_write_and_register_time_series.py
  tests/utils.py
  uv.lock
Due: mypy, ruff-format, ruff-check

refactor(tests): clean up hybrid study comparison tests
  src/antares_hybrid_writer.py
  tests/e2e/test_hybrid_study_comparison.py
Due: mypy, ruff-format, ruff-check

refactor(antares): improve hybrid study writer and converter documentation
  src/antares_hybrid_writer.py
  src/pypsa_converter.py
  tests/e2e/test_hybrid_study_comparison.py
Due: mypy, ruff-format, ruff-check
