Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - src
  - src/tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - src
  - src/tests
  language: system

fix(mypy): add missed libraries
  requirements-dev.txt
Due: none

fix(benchmark): make benchmark consistent
  pyproject.toml
  src/tests/local_benchmark/benchmark.py
Due: mypy, ruff-format, ruff-check

automatic formatting, type checking, AUTHORS file, and license headers (#27)
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  AUTHORS.txt
  pyproject.toml
  requirements-dev.txt
  src/__init__.py
  src/models/__init__.py
  src/models/gems_system_yml_schema/__init__.py
  src/models/gems_system_yml_schema/gems_area_connection.py
  src/models/gems_system_yml_schema/gems_component.py
  src/models/gems_system_yml_schema/gems_component_parameter.py
  src/models/gems_system_yml_schema/gems_port_connection.py
  src/models/gems_system_yml_schema/gems_system.py
  src/models/modeler_parameter_yml_schema/__init__.py
  src/models/modeler_parameter_yml_schema/modeler_parameters.py
  src/models/modified_base_model.py
  src/models/pypsa_model_schema/__init__.py
  src/models/pypsa_model_schema/pypsa_component_data.py
  src/models/pypsa_model_schema/pypsa_global_constraint_data.py
  src/parsing.py
  src/pypsa_converter.py
  src/tests/__init__.py
  src/tests/e2e/__init__.py
  src/tests/e2e/end_2_end_tests.py
  src/tests/local_benchmark/__init__.py
  src/tests/local_benchmark/benchmark.py
  src/tests/local_benchmark/benchmark_analysis.ipynb
  src/tests/utils.py
  src/utils.py
Due: mypy, ruff-format, ruff-check

fix(e2e-tests): fix bug in parallel execution of tests and move tests into root of the project
  .github/workflows/e2e-tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/__init__.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/end_2_end_tests.py
  tests/local_benchmark/__init__.py
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

fix(e2e-tests): fix bug in parallel execution of tests and move tests into root of the project (#28)
  .github/workflows/e2e-tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/__init__.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/end_2_end_tests.py
  tests/local_benchmark/__init__.py
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

feat(models): adapt pypsa models for 2 phase stochastic optimization
  resources/pypsa_models/pypsa_models.yml
Due: none

feat(logs): add logs to see modeler problems
  tests/e2e/end_2_end_tests.py
Due: ruff-format, ruff-check

Change scenario-dependent to true for multiple parameters
  resources/pypsa_models/pypsa_models.yml
Due: none

Change scenario-dependent to true for multiple parameters (#33)
  resources/pypsa_models/pypsa_models.yml
Due: none

Refactor objective contributions in pypsa_models.yml
  resources/pypsa_models/pypsa_models.yml
Due: none

Refactor objective contributions in pypsa_models.yml (#34)
  resources/pypsa_models/pypsa_models.yml
Due: none

feat(pypsa_preprocessor): introduce pypsa_preprocessor class - add pypsa study version determining - move preprocessing function into separate class - rename functions to get more readable code
  pyproject.toml
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/utils.py
  tests/e2e/conftest.py
  tests/e2e/end_2_end_tests.py
Due: mypy, ruff-format, ruff-check

fix(mypy): add return type for pytestconfig
  tests/e2e/conftest.py
Due: ruff-format, ruff-check

update(study type): add study type checking -fix tiny error inside workflow file
  .github/workflows/code-quality.yml
  src/pypsa_preprocessor.py
Due: mypy, ruff-format, ruff-check

refactor(pypsa_converter): streamline component and global constraint registration using PyPSARegister class
  src/pypsa_converter.py
  src/pypsa_register.py
Due: mypy, ruff-format, ruff-check

feat(gems model builder): introduce new class GemsModelBuilder class is responsible for: - Converting PyPSA components -> Gems Components - Converting global constraints - Creating Gems connections
  src/gems_model_builder.py
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

feat(gems study writer): introduce gems study writer class is engaged for: - write system.yml - write parameters.yml - write optim-config.yml - copy model libraries - write and register time series
  src/gems_study_writer.py
  src/models/gems_system_yml_schema/gems_system.py
  src/models/modeler_parameter_yml_schema/modeler_parameters.py
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

style(license header): add license header to the new files
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_register.py
Due: mypy, ruff-format, ruff-check

fix(comments): resolve comments in PR
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

fix(comment): fix typo
  src/gems_study_writer.py
Due: mypy, ruff-format, ruff-check

refactor: decompose converter into focused classes (#37)
  .github/workflows/code-quality.yml
  pyproject.toml
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/models/gems_system_yml_schema/gems_system.py
  src/models/modeler_parameter_yml_schema/modeler_parameters.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  src/utils.py
  tests/e2e/conftest.py
  tests/e2e/end_2_end_tests.py
Due: mypy, ruff-format, ruff-check

feat(2 stage stochastic): component renaming for multiple index
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  tests/utils.py
Due: mypy, ruff-format, ruff-check

feat(tests): add test for preprocessing component
  src/gems_model_builder.py
  src/pypsa_preprocessor.py
  tests/unit_tests/__init__.py
  tests/unit_tests/test_pypsa_preprocessor.py
  tests/utils.py
Due: mypy, ruff-format, ruff-check

feat(test): add one more scenarized test withot time series values
  tests/unit_tests/test_pypsa_preprocessor.py
Due: ruff-format, ruff-check

feat(tests): add test for all parameters changed in model - for line objects apply function replace lines by links
  tests/unit_tests/test_pypsa_preprocessor.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: ruff-format, ruff-check

fix(global constraint function): add check for global constraint
  tests/utils.py
Due: ruff-format, ruff-check

fix(extend_quota): add one more condition
  tests/utils.py
Due: ruff-format, ruff-check

fix(test): change test case to make sure components renaming work correctly
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: ruff-format, ruff-check

feat(2 stage stochastic optimization): add components write into system.yml && time series write for static parameters
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/pypsa_register.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/unit_tests/test_write_and_register_time_series.py
Due: mypy, ruff-format, ruff-check

feat(optim-config.yml): add hard coded optim-config.yml
  resources/optim-config.yml
  src/gems_study_writer.py
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

style(ruff): add ruff format to new code
  src/pypsa_converter.py
Due: mypy, ruff-format, ruff-check

fix(2 stage stochastic): prevent converter from generating multiple unnecessary files and set boundaries for inf and -inf values
  src/gems_model_builder.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/utils.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

style(create gems components input params): rename function parameters to be more descriptive and code readabe
  src/gems_model_builder.py
Due: mypy, ruff-format, ruff-check

feat(pypsa_models.yml): make scenario-dependet : true for some parameters inside pypsa_models.yml - remove boilerplate code from tests and prepare for parametrization
  resources/pypsa_models/pypsa_models.yml
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: ruff-format, ruff-check

style(code format): format code
  src/gems_model_builder.py
  src/gems_study_writer.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

fix(mypy): fix mypy error
  .pre-commit-config.yaml
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: ruff-format, ruff-check

feat(tests): preprocessing and register components
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: ruff-format, ruff-check

test(time-series): test generation of time series files
  src/gems_study_writer.py
  tests/unit_tests/test_write_and_register_time_series.py
Due: mypy, ruff-format, ruff-check

test(2-stage-stochastic): add skeleton for e2e test for 2 stage stochastic optimization
  tests/e2e-2-stage-stochastic/test_2_stage_stochastic_study.py
  tests/unit_tests/test_write_and_register_time_series.py
Due: ruff-format, ruff-check

fix(mypy): fix mypy erros
  tests/e2e-2-stage-stochastic/test_2_stage_stochastic_study.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^src/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
