Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - src
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - src
  - tests
  language: system

chore(dependencies): update PyPSA to version 1.3.0 and adjust Python version compatibility in uv.lock (#112)
  pyproject.toml
  tests/unit_tests/test_write_and_register_time_series.py
  tests/utils.py
  uv.lock
Due: ruff-format, ruff-check

feat(operational studies): introduce operational studies conversion and tests (#103)
  .github/workflows/run-e2e-tests.yml
  .gitignore
  dependencies.json
  pyproject.toml
  resources/optim-config.yml
  src/antares_hybrid_writer.py
  src/dependencies.py
  src/models/gems_system_yml_schema/gems_system.py
  src/pypsa_converter.py
  tests/e2e/test_hybrid_study_comparison.py
  tests/local_benchmark/benchmark.py
  tests/unit_tests/test_write_and_register_time_series.py
  uv.lock
Due: mypy, ruff-format, ruff-check

chore(dependencies): update Python version constraint and add platform-specific dependency overrides
  pyproject.toml
  uv.lock
Due: none

feat(benchmark): introduce pypsa vs xpansion benchmark (#105)
  .github/workflows/run-e2e-tests.yml
  .github/workflows/tests.yml
  pyproject.toml
  src/antares_hybrid_writer.py
  src/dependencies.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/utils.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/xpansion_benchmark.py
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
  tests/unit_tests/test_converter.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/unit_tests/tests_converter.py
  tests/utils.py
  uv.lock
Due: mypy, ruff-format, ruff-check

feat(benchmark): add standalone .nc conversion + Xpansion-vs-PyPSA benchmark scripts
  pyproject.toml
  tests/local_benchmark/benchmark_pypsa_vs_xpansion.py
  tests/local_benchmark/convert_nc_to_gems.py
  tests/local_benchmark/xpress_license.py
  uv.lock
Due: ruff-format, ruff-check

feat(benchmark): add one-shot environment setup script
  setup_environment.sh
Due: none

feat(pypsa_models): add unit commitment support (Phase 1) to generator and link
  resources/pypsa_models/pypsa_models.yml
Due: none

refactor(pypsa_models): fold start_up/shut_down cost into operational_objective
  resources/pypsa_models/pypsa_models.yml
Due: none

feat(pypsa_models): separate committable generator/link into their own models
  resources/pypsa_models/pypsa_models.yml
Due: none

fix(pypsa_models): delete unnecessary comments
  resources/pypsa_models/pypsa_models.yml
Due: none

chore(dependencies): update antares-craft to version 0.17.1 and clean up uv.lock
  pyproject.toml
  uv.lock
Due: none

chore(setup): update pyproject.toml to include resources and enable namespace packages
  pyproject.toml
Due: none

fix(pypsa lib): resolved pypsa lib error (#118)
  pyproject.toml
  uv.lock
Due: none

fix(pypsa_models): add min_up_time/min_down_time and fix negative-dispatch bug in committable models
  resources/pypsa_models/pypsa_models.yml
Due: none

feat(pypsa_models): add stand_by_cost to committable generator/link models
  resources/pypsa_models/pypsa_models.yml
Due: none

initial commit
  pyproject.toml
  resources/pypsa_models/CHANGELOG-pypsa_models_library.md
  resources/pypsa_models/pypsa_models.yml
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  src/pypsa_register.py
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  uv.lock
Due: mypy, ruff-format, ruff-check

fix(benchmark analysis): update execution counts and timing metrics in xpansion_benchmark_analysis.ipynb
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
Due: none

feat(duplicate component): duplicate components to eliminate unneeded constraints
  resources/pypsa_models/pypsa_models.yml
  src/pypsa_register.py
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
Due: mypy, ruff-format, ruff-check

feat(pypsa lib): split extendable line/transformer models by modular capacity
  resources/pypsa_models/CHANGELOG-pypsa_models_library.md
  resources/pypsa_models/pypsa_models.yml
  src/pypsa_register.py
Due: mypy, ruff-format, ruff-check

refactor(pypsa_register): streamline extendable component registration and introduce _is_flagged utility
  src/pypsa_register.py
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
Due: mypy, ruff-format, ruff-check

feat(gemspy): update GemsPy dependency to a specific commit and enhance full-GEMS study support
  pyproject.toml
  resources/optim-config-full-gems.yml
  src/antares_hybrid_writer.py
  src/cli.py
  src/gems_study_writer.py
  src/pypsa_converter.py
  tests/e2e/test_hybrid_study_comparison.py
  tests/local_benchmark/xpansion_benchmark.py
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
  tests/unit_tests/test_converter.py
  tests/unit_tests/test_gems_study_writer.py
  tests/utils.py
  uv.lock
Due: mypy, ruff-format, ruff-check

refactor(pypsa_models): update flow limits and constraints in pypsa_models.yml
  resources/pypsa_models/pypsa_models.yml
  tests/local_benchmark/xpansion_benchmark_analysis.ipynb
Due: none

Path conditions:
  mypy: any of: ^src/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
