Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - src
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - src
  - tests
  language: system

feat(simulation): add first simulation results
  resources/test_files/config_pypsa_eur/config.regional.yaml
  resources/test_files/france_clusters_50_snapshots_365_period_one_year.nc
  tests/local_benchmark/benchmark_analysis_france.ipynb
Due: none

feat(simulation): add one more example
  resources/test_files/france_clusters_80_snapshots_8760_period_one_week.nc
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis_france_two.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

feat(pypsa-eur): configure docker for pypsa eur - add pulling pypsa eur docker image if it isn't present inside docker desktop app - run docker container within the script - add docker dependencies
  pyproject.toml
  pypsa_eur_dependencies.json
  pypsa_eur_gen/__init__.py
  pypsa_eur_gen/dependencies.py
  pypsa_eur_gen/docker_check.py
  pypsa_eur_gen/run_generation.py
  requirements-dev.txt
  requirements.txt
Due: ruff-format, ruff-check

style(ruff): add ruff format to the code
  pypsa_eur_gen/run_generation.py
Due: ruff-format, ruff-check

fix(benchmark): merge all benchmark tests
  src/tests/local_benchmark/benchmark_analysis.ipynb
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/local_benchmark/benchmark_analysis_france.ipynb
  tests/local_benchmark/benchmark_analysis_france_two.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

style(ruff): fix pre commit errors
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

fix(readme): update path in readme
  README.md
Due: none

fix(.nc files): delete unused files - delete unused buggy .nc files
  resources/test_files/base_s_11_elec_custom_1_nl.nc
  resources/test_files/base_s_11_elec_custom_2_nl.nc
  resources/test_files/base_s_11_elec_custom_3_nl.nc
  resources/test_files/base_s_11_elec_nl.nc
Due: none

style(tests): add more logs - add logs display to workflow tests
  .github/workflows/tests.yml
  tests/e2e/end_2_end_tests.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/unit_tests/test_write_and_register_time_series.py
  tests/unit_tests/tests_converter.py
Due: ruff-format, ruff-check

fix(benchmark): fix benchmark notebook error
  tests/local_benchmark/benchmark_analysis.ipynb
Due: none

style(ci): simplify command for calling tests
  .github/workflows/tests.yml
Due: none

Update requirements-dev.txt
  requirements-dev.txt
Due: none

Update requirements.txt
  requirements.txt
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

feat(instruction readme): add instruction readme
  INSTRUCTIONS_RUN_PIPELINE.md
  config_pypsa_eur.yaml
  pypsa_eur_gen/run_generation.py
Due: ruff-format, ruff-check

fix(config): remove config for generation of pypsa eur studies
  resources/test_files/config_pypsa_eur/config.regional.yaml
Due: none

feat(benchmark): benchmark on pypsa eur france (#52)
  .github/workflows/tests.yml
  README.md
  resources/test_files/base_s_11_elec_custom_1_nl.nc
  resources/test_files/base_s_11_elec_custom_2_nl.nc
  resources/test_files/base_s_11_elec_custom_3_nl.nc
  resources/test_files/base_s_11_elec_nl.nc
  resources/test_files/france_clusters_50_snapshots_365_period_one_year.nc
  resources/test_files/france_clusters_80_snapshots_8760_period_one_week.nc
  src/tests/local_benchmark/benchmark_analysis.ipynb
  tests/e2e/end_2_end_tests.py
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/unit_tests/test_pypsa_preprocessor_and_register.py
  tests/unit_tests/test_write_and_register_time_series.py
  tests/unit_tests/tests_converter.py
  tests/utils.py
Due: ruff-format, ruff-check

Update README.md
  README.md
Due: none

fix(readme): fix route bug for benchmark analysis notebook
  README.md
Due: none

feat(test execution): execute test on new exe
  dependencies.json
  src/dependencies.py
  tests/e2e/conftest.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: mypy, ruff-format, ruff-check

feat(antares-problem-generator): modify 2 stage stochastic test to be executed with generator
  dependencies.json
  src/dependencies.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_generator_gen1_p_max_pu.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_generator_gen2_p_max_pu.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_load_timeseries_load_p_set.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_load_timeseries_load_q_set.csv
  tmp/test_2_stage_stochastic_study/systems/input/model-libraries/pypsa_models.yml
  tmp/test_2_stage_stochastic_study/systems/input/optim-config.yml
  tmp/test_2_stage_stochastic_study/systems/input/system.yml
  tmp/test_2_stage_stochastic_study/systems/output/area.txt
  tmp/test_2_stage_stochastic_study/systems/output/option.json
  tmp/test_2_stage_stochastic_study/systems/parameters.yml
Due: mypy, ruff-format, ruff-check

refactor(tmp): remove study from the project
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_generator_gen1_p_max_pu.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_generator_gen2_p_max_pu.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_load_timeseries_load_p_set.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_load_timeseries_load_q_set.csv
  tmp/test_2_stage_stochastic_study/systems/input/model-libraries/pypsa_models.yml
  tmp/test_2_stage_stochastic_study/systems/input/optim-config.yml
  tmp/test_2_stage_stochastic_study/systems/input/system.yml
  tmp/test_2_stage_stochastic_study/systems/output/area.txt
  tmp/test_2_stage_stochastic_study/systems/output/option.json
  tmp/test_2_stage_stochastic_study/systems/parameters.yml
Due: none

tests(benchmark): remove load scaling for 2 tests cases
  src/dependencies.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
  tests/local_benchmark/benchmark.py
Due: mypy, ruff-format, ruff-check

tests(pypsa one year): remove wrong test call
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

Update benchmark.py
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

feat(pypsa eur): add test file for whole europe
  resources/test_files/pypsa_eur_one_year_hourly.nc
Due: none

feat(benchamark): benchmark with antares version 9.3.7
  dependencies.json
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

feat(pypsa eur): add pypsa eur study for benchmark (#60)
  resources/test_files/pypsa_eur_one_year_hourly.nc
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

Update dependencies.json (#50)
  dependencies.json
Due: none

fix(test): fix filename for test call
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

style(ruff): fix ruff errors
  tests/local_benchmark/benchmark.py
Due: ruff-format, ruff-check

feat(benchmark): benchmark with Antares version 9.3.7 (#61)
  dependencies.json
  resources/test_files/france_clusters_80_snapshots_168_period_one_week.nc
  tests/local_benchmark/benchmark.py
  tests/local_benchmark/benchmark_analysis.ipynb
  tests/utils.py
Due: ruff-format, ruff-check

chore(pydantic): update development dependencies and refactor model configuration
  requirements-dev.txt
  requirements.txt
  src/models/modified_base_model.py
Due: mypy, ruff-format, ruff-check

chore(pydantic): update development dependencies and refactor model configuration (#63)
  requirements-dev.txt
  requirements.txt
  src/models/modified_base_model.py
Due: mypy, ruff-format, ruff-check

feat(examples): add two-bus deterministic example study
  examples/create_and_convert_example.py
  examples/example_gems_output/systems/input/data-series/two_bus_example_generator_A1_p_max_pu.csv
  examples/example_gems_output/systems/input/data-series/two_bus_example_generator_A2_p_max_pu.csv
  examples/example_gems_output/systems/input/model-libraries/pypsa_models.yml
  examples/example_gems_output/systems/input/system.yml
  examples/example_gems_output/systems/parameters.yml
Due: ruff-format, ruff-check

Update pypsa_models.yml: add taxonomy-category
  examples/example_gems_output/systems/input/model-libraries/pypsa_models.yml
Due: none

Update pypsa_models.yml
  examples/example_gems_output/systems/input/model-libraries/pypsa_models.yml
Due: none

Add files via upload
  examples/example_gems_output/view-config-example.yml
Due: none

refactor(model): update configuration to use validate_by_alias and validate_by_name
  src/models/modified_base_model.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^src/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
