Repository AntaresSimulatorTeam/PyPSA-to-GEMS-Converter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "src", "tests"]
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "src", "tests"]
        language: system
        types: [python]

feat(e2e test): 2 stage stochastic study
  tests/e2e-2-stage-stochastic/__init__.py
  tests/e2e-2-stage-stochastic/test_2_stage_stochastic_study.py
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_generator_gen1_p_max_pu.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_generator_gen2_p_max_pu.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_load_timeseries_load_p_set.csv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_load_timeseries_load_q_set.csv
  tmp/test_2_stage_stochastic_study/systems/input/model-libraries/pypsa_models.yml
  tmp/test_2_stage_stochastic_study/systems/input/optim-config.yml
  tmp/test_2_stage_stochastic_study/systems/input/system.yml
  tmp/test_2_stage_stochastic_study/systems/output/1-1.mps
  tmp/test_2_stage_stochastic_study/systems/output/area.txt
  tmp/test_2_stage_stochastic_study/systems/output/expansion/out.json
  tmp/test_2_stage_stochastic_study/systems/output/master.mps
  tmp/test_2_stage_stochastic_study/systems/output/option.json
  tmp/test_2_stage_stochastic_study/systems/output/reportbenders.txt
  tmp/test_2_stage_stochastic_study/systems/output/simulation_table--20260116-1135.csv
  tmp/test_2_stage_stochastic_study/systems/output/structure.txt
  tmp/test_2_stage_stochastic_study/systems/parameters.yml
Due: ruff-format, ruff-check

fix(folder name): rename folder
  tests/e2e_2_stage_stochastic/__init__.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: ruff-format, ruff-check

Delete tmp/test_2_stage_stochastic_study/systems directory
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_generator_gen1_p_max_pu.tsv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_generator_gen2_p_max_pu.tsv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_load_timeseries_load_p_set.tsv
  tmp/test_2_stage_stochastic_study/systems/input/data-series/Simple_Network_load_timeseries_load_q_set.tsv
  tmp/test_2_stage_stochastic_study/systems/input/model-libraries/pypsa_models.yml
  tmp/test_2_stage_stochastic_study/systems/input/optim-config.yml
  tmp/test_2_stage_stochastic_study/systems/input/system.yml
  tmp/test_2_stage_stochastic_study/systems/output/1-1.mps
  tmp/test_2_stage_stochastic_study/systems/output/area.txt
  tmp/test_2_stage_stochastic_study/systems/output/master.mps
  tmp/test_2_stage_stochastic_study/systems/output/option.json
  tmp/test_2_stage_stochastic_study/systems/output/simulation_table--20260117-2100.csv
  tmp/test_2_stage_stochastic_study/systems/output/simulation_table--20260117-2101.csv
  tmp/test_2_stage_stochastic_study/systems/output/simulation_table--20260117-2134.csv
  tmp/test_2_stage_stochastic_study/systems/output/structure.txt
  tmp/test_2_stage_stochastic_study/systems/parameters.yml
Due: none

fix(capital cost bug): fix capital cost bus - introduce solver name as part of the converter class
  src/gems_study_writer.py
  src/pypsa_converter.py
  src/pypsa_preprocessor.py
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: mypy, ruff-format, ruff-check

feat(readme): intial version of readme
  README.md
Due: none

Update README.md
  README.md
Due: none

update(e2e tests): try to execute simulation coin-coin still fails
  tests/e2e_2_stage_stochastic/test_2_stage_stochastic_study.py
Due: ruff-format, ruff-check

Apply suggestion from @aoustry
  README.md
Due: none

Update resources/pypsa_models/pypsa_models.yml
  resources/pypsa_models/pypsa_models.yml
Due: none
